header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #62757f;
    padding: 10px;
}

body{
    background-color: black;
}

h1,h3 {
    font-family: 'Nunito', sans-serif;
}

h1{
    text-align: left;
    color: white;
    margin-left: 90px
}

h3 {
  position: relative;
  top: 170px;
  left: 150px;
  font-size: 1.6em;
  color: #ffffff;
}
/*
   navigation Styles
   Styles for the navigation.
*/

.navigation ul {
    display: flex;
    list-style: none;
    margin-right: 500px;
}

.navigation ul li {
    font-size: 1.3em;
    margin-right: 200px;

}

.navigation ul li a {
    color: white;
    text-decoration: none;
}

/*
   banner Styles
   Styles for the banner,animation of zoom up when cursor move on it.
*/
#banner-main {
  height: 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% 50%;
  border: 2px solid red;
  box-sizing: border-box;
  margin: 5px;
}

.banner-button {
  position: relative;
  top: 200px;
  left: 150px;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: 0.8em;
  transition: transform 0.3s
}

.banner-button:hover {
  transform: scale(1.02);
}

.banner-description {
  position: relative;
  width: 700px;
  top: 180px;
  left: 150px;
  font-size: 1.4em;
  color: white;
}

/*
   section Styles
   Styles for the section of slider for 3 categories,animation of zoom up when cursor move on it.
*/
.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 1s;
}

.slider img {
  height: 588px;
  width: 400px;
  object-fit: cover;
  padding: 4px;
  margin: 2px;
  transition: transform 0.6s ease;
}

.slider img:hover {
  transform: scale(1.02);
}

/*
   icon arrow Styles
*/
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 10px;
  font-size: 2.8rem;
  cursor: pointer;
}

.arrow-left {
  left: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.arrow-right {
  right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
/*
   modal Styles
*/
#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#modal-content{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
  cursor: pointer;
}



